body {
  margin: 0;
  min-width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
img {
  margin-top: 20px;
  width: 250px;
  height: 100px;
  display: flex;
}
.img-welcome {
  width: 300px;
  height: 150px;
  padding-bottom: 50px;
}
.hr {
  color: antiquewhite;
  min-width: 100%;
}
.App-navBar-div{
  min-width: 100%;
}
.App-navBar {
  display: inline;
}
.App-navBar a {
  margin: 10px;
  font-size: smaller;
  color: antiquewhite;
  text-decoration: none;
}
.App-navBar-ul {
  padding-right: 10px;
  padding-left: 0;
}
ul {
  width: 200vh;
  margin: 5px;
  list-style: none;
}

.App-button {
  width: 100vh;
  text-align: start;
  background-color: rgb(26, 25, 25);
  color: antiquewhite;
  border: none;
}
p {
  display: flex;
}
h1 {
  /* margin: 0; */
  padding-bottom: 100px;
}
.button-welcome {
  width: 250px;
height: 50px;
margin-top: 25px;
text-align: center;
background-color: rgb(26, 25, 25);
color: antiquewhite;
border-radius: 20px;
box-shadow: 2px 2px 2px gray;
border: none;
font-size: 16px;
cursor: pointer;
}
.button-welcome:active {
  transform: scale(0.98);
}
.link-welcome {
  text-decoration: none;
  color: antiquewhite;
}
/* .nav-bar-welcome{
  padding-bottom: 100px;
} */
/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
