body {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
img {
  margin-top: 20px;
  width: 250px;
  height: 100px;
  display: flex;
}
.App-navBar-div{
  width: 100%;
}
.App-navBar {
  display: inline;
}
.App-navBar a {
  
  margin: 10px;
  font-size: smaller;
  color: antiquewhite;
  text-decoration: none;
}
.App-navBar-ul {
  margin-left: 100px;
}
ul {
  width: 200vh;
  margin: 5px;
  list-style: none;
}

.App-button {
  width: 100vh;
  text-align: start;
  background-color: rgb(26, 25, 25);
  color: antiquewhite;
  border: none;
}
p {
  display: flex;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
